.wraps{
    display: flex;
    padding: 10px 200px;
    padding-top: 60px;
    border-top: 1px solid rgba(169, 169, 169, 0.2);
    background: rgba(47, 79, 79, 0.1);
    color: rgba(0,0,0,0.8);
}

/* the left side of the first row */
.leftside{
    width: 45%;
}

.stayconnected_title{
    margin-bottom: 20px;
    font-weight: bold;
}

.iconset{
    display: flex;
}

.eachicon{
    margin-right: 10px;
    font-size: 30px;
}

/* the right side of the first row */
.rightside{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: end;
    width: 55%;
}

.rightdiv{
    margin-right: 2%;
}

/* the last div has no right margin */
.rightdiv:last-child{
    margin-right: 0%;
}

.titlelist{
    font-weight: bold;
}

.rightul{
    list-style-type: none;
    padding: 0px;
}

@media (max-width: 1400px) {
    .wraps{
        padding: 50px;
    }
}

@media (max-width: 1100px) {
    .wraps{
        padding: 100px 10px;
    }
}

@media (max-width: 900px) {
    .wraps{
        padding: 20px;
    }
    .rightside{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .leftside{
        width: 35%;
    }

    .rightside{
        width: 65%;
    }
}

@media (max-width: 700px) {
    .wraps{
        flex-direction: column;
    }

    .leftside{
        width: 100%;
    }

    .rightside{
        grid-template-columns: 30% 30% 30%;
        justify-content: left;
        width: 100%;
        margin-top: 30px;
    }

    .eachicon{
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .rightside{
        grid-template-columns: 80%;
    }
    .rightdiv{
        margin-right: 5%;
    }

    .titlelist{
        font-size: 18px;
    }
}